<div class="footer-container">
    <div class="footer-row">
        <div class="footer-left-column">
            <h2>Sign up and get free content every week.</h2>
            <div class="search-bar-footer">
                <input type="text" name="">
              </div>
              <div class="footer-button">
                <button class="button-signup">Sign Up</button>
              </div>
           
        </div>

        <div class="footer-right-column">
            <div class="inner-footer-row">
                <div class="inner-column">
                    <h2>Browse by categories.</h2>
                </div>
                <div class="inner-column">
                    <div class="inner-footer-rows">
                        <div class="inner-columns">
                            <ul>
                                <a><li>Graphics</li></a>
                                <a><li>PSDs</li></a>
                                <a><li>Icon</li></a>
                                <a><li>Templates</li></a>
                                <a><li>Themes</li></a>
                               
                            </ul>
                        </div>
                        <div class="inner-columns">
                            <ul>
                                <a><li>Graphics</li></a>
                                <a><li>PSDs</li></a>
                                <a><li>Icon</li></a>
                                <a><li>Templates</li></a>
                                <a><li>Themes</li></a>
                            </ul>
                        </div>
                        <div class="inner-columns">
                            <ul>
                                <a><li>Graphics</li></a>
                                <a><li>PSDs</li></a>
                                <a><li>Icon</li></a>
                                <a><li>Templates</li></a>
                                <a><li>Themes</li></a>
                            </ul>
                        </div>
                        <div class="inner-columns">
                            <ul>
                                <a><li>Graphics</li></a>
                                <a><li>PSDs</li></a>
                                <a><li>Icon</li></a>
                                <a><li>Templates</li></a>
                                <a><li>Themes</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>