<div class="header-container">
    <div class="row">
        <div class="column">
            <h1>Gif Search</h1>
        </div>
        <div class="column">
            <div class="search-bar">
                <input (keydown.enter)="search()" [(ngModel)]="searchQuery" type="text" name="gifSearch" > 
                <div class="giphy-nav__search-bar__drop-down">
                </div>
               <div> <i (click)="search()"  class="fa fa-search c"></i></div>
              </div>
        </div>
        <div class="column">
            <h3>You can Search any gif with our search</h3>
        </div>
        <div class="column">
          <p>Everything you need for your creative projects, websites, banners, presentations, magazines and advertising.</p>
        </div>
    </div>
</div>
