<div class="header-container">
    <div class="row">
        <div class="column">
            <h1>Gif Search</h1>
        </div>
        <div class="column">
            <div class="search-bar">
                <input type="text" name="">
                <div class="giphy-nav__search-bar__drop-down">
                </div>
                <i class="fa fa-search"></i>
              </div>
        </div>
        <div class="column">
            <h3>You can Search any gif with our search</h3>
        </div>
        <div class="column">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur cumque molestiae alias.</p>
        </div>
    </div>
</div>
